/*This is the start of the back to top button  */
.topButton{
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 30px;
    position:relative;
    bottom: -375px;
}
.topButton a{
    padding: 8px 15px;
    background-color:rgba(0, 17, 255, 0.541); 
    border: 2px solid #000;
    border-radius: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}
.topButton a:hover{
    background-color: darkmagenta;
}
.topButton a:active{
    background-color: cornflowerblue;
}
/* This is the end of the back to top button */