.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="submit"]
{
    color: black;
    width: 60%;
    height: 60px;
    background-color:whitesmoke ;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.479);
}
label{
    color: black;
}

.wpcf7 textarea {
    width: 60%;
    height: 100px;
    background-color: whitesmoke;
    box-shadow: 10px 15px rgba(0, 0, 0, 0.479);
}
.wpcf7{
    
    align-items: center;
    text-align: center;
    margin: 5%;

}

.contact-form{
    margin-top: 30px;
    // border: 30px solid red;
    border-radius: 50px;
    margin-left: 25%;
    width: 50%;
    height:auto;
    align-items: center;
    background-color: darkgray;
    h2 {
        text-align: center;
    }
}