.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 input[type="tel"],
.wpcf7 input[type="submit"]
{
    color: black;
    width: 50%;
    height: auto;
    background-color:brown ;
}
label{
    color: white;
}

.wpcf7 textarea {
    width: 50%;
    height: 60px;
    background-color: pink;
}
.wpcf7{
    
    align-items: center;
    text-align: center;
    margin: 5%;

}

.contact-form{
    margin-top: 30px;
    border: 10px solid red;
    border-radius: 50px;
    margin-left: 20%;
    width: 60%;
    height:700px;
    align-items: center;
    h2 {
        text-align: center;
    }
}